html,
body {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
}

body {
  background-color: #bbffa0;
}

.state {
  background: rgba(0, 0, 0, 0.5);
  color: #eee;
  position: fixed;
  right: 10px;
  border-radius: 5px;
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 2em;
  font-family: Arial;
}

.hide {
  display: none;
}
