body {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    counter-reset: item;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #3f3a42;
}

.grabbable {
    cursor: move !important;
    /* fallback if grab cursor is unsupported */
    cursor: grab !important;
    cursor: -moz-grab !important;
    cursor: -webkit-grab !important;
}


/* (Optional) Apply a "closed-hand" cursor during drag operation. */

.grabbable:active {
    cursor: move !important;
    cursor: grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}

.hide {
    display: none;
}

@media(min-width: 520px) {
    #stage {
        height: 60%;
        width: 90%;
    }
}

#stage {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #3f3a42;
}

#stage .scene {
    position: absolute;
    top: 200%
}

.pointer {
    cursor: pointer;
}

.nav-bar-header {
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 12px;
    font-style: normal;
    /* font-weight: 300; */
    /* height: 75px; */
    /* line-height: 21.6px; */
    min-height: 60px;
    background-color: #037EF3;
    margin-bottom: 0;
}

.navbar {
    border-radius: 0;
}

.nav-bar-header li a {
    color: white;
}

#nav-img {
    width: 213px;
    /* margin-left: 10%; */
}

.navbar-toggle .icon-bar {
    background-color: white;
}

a.logo-header-ref {
    width: 20%
}

#logo-img {
    width: 100%;
    /* height: auto; */
    /* margin-top: 27px; */
    /* margin-left: 4%; */
}

div#section-2 {
    padding: 45px 0px;
    /* height: 300px; */
    /* background-size: contain; */
    width: 100%;
    /* margin-right: 0; */
    /* margin-left: 0; */
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

div.half-div {
    padding-left: 5%;
    padding-right: 5%;
}

.half-div h3 {
    color: rgb(3, 126, 243);
    font-weight: 700;
    font-size: 1.5em;
}

.half-div p {
    color: rgb(82, 86, 94);
    font-size: 1.2em;
    font-weight: 400;
}

.programs-btn {
    margin-top: 8%;
    width: 74%;
    background-color: #037EF3;
    color: white;
    font-size: 1.5em;
}

.programs-btn:hover {
    opacity: 0.8;
    color: #323437;
}

.footer-class {
    /* color: #ffffff; */
    /* background-color: #727272; */
    padding: 50px 0;
    font-size: 11px;
    line-height: 1.3;
    text-align: center;
    z-index: 100;
}

.footer-class .footer-text {
    margin: 20px 0;
    letter-spacing: 1px;
    opacity: 1;
    font-size: 1.7em;
    font-weight: 300;
}

.footer-class .footer-menu {
    margin: 20px 0;
    text-align: center;
    border-top: 3px solid #52565e;
    border-bottom: 3px solid #52565e;
    padding: 30px 0;
    height: 90px;
    margin: 15px 0 50px 0;
}

.footer-class .footer-menu li {
    margin: 0;
    display: inline-block;
    line-height: 1.8;
    margin-left: 10px;
}

.footer-menu li:first-child {
    float: left;
}

.footer-menu li:last-child {
    float: right;
}

.footer-class .footer-menu li a {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #037EF3;
}

a,
li {
    webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.btn {
    webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.footer-class .footer-menu li a:hover {
    /* background-color: transparent; */
    /* opacity: 0.75; */
    color: grey;
    text-decoration: none;
}

.dash {
    /* content: '\2013'; */
    color: #989DA2;
    font-size: 1.3em;
    margin-left: 10px;
}

.nav-links li a {
    /* font-size: 1.3em;
        font-weight: bold;
        display: inline;
        color: #ffffff;*/
    padding: 2vw 31px;
    font-size: 1.5em;
    font-weight: 300;
}

.nav-links li a:hover {
    background-color: transparent;
    opacity: 0.45;
    text-decoration: none;
}

.dash-white {
    font-size: 1em;
    margin-left: 10px;
    color: #EBEBEB;
}

div#section-3 {
    padding: 45px 0px;
    /* height: 300px; */
    /* background-size: contain; */
    width: 100%;
}

#section-3 .text-above {
    color: #ffffff;
    margin-bottom: 0.5em;
    display: block;
    letter-spacing: 0.125em;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 1.4em;
}

#section-3 .text-number {
    font-size: 3.25em;
    line-height: 1;
    font-weight: 700;
    color: white;
}

#section-3 .text-below {
    color: #ffffff;
    margin-top: 0.5em;
    display: block;
    letter-spacing: 0.125em;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 1.4em;
}

#section-3 div {
    margin-top: 10%;
}

.social-circles a {
    margin: 0 1.25%;
    width: 54px;
    height: 54px;
    font-size: 21px;
    line-height: 54px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 100em;
}

.social-circles .facebook:hover {
    background-color: #3b5998;
    text-decoration: none;
}

.social-circles .twitter:hover {
    background-color: #00abf0;
    text-decoration: none;
}

.social-circles .instagram:hover {
    background-color: #A65B1C;
    text-decoration: none;
}

#gt-section-1 {
    margin: 0px 0px 0px 0px;
    padding: 45px 45px 45px 45px;
    background-image: url(../img/globaltalent/Page-2-section-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-height: 60vh;
}

#gt-section-1 img {
    width: 90%;
    position: relative;
    top: 53px;
}

#gt-section-2 {
    margin: 0px 0px 0px 0px;
    padding: 45px 45px 45px 45px;
    background-color: #bf1f2e;
    font-size: 16px;
}

#gt-section-2 blockquote {
    color: #ffffff;
    margin: 1.5em 0;
    padding: 1em;
    border: 2px solid #e5e5e5;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3;
}

#gt-section-3 {
    margin: 0px;
    padding: 45px 0px;
    background-color: transparent;
    background-position: 50% -37px;
}

#gt-section-3 #venture-brazil {
    margin: 0px auto 0px auto;
    padding: 10px 10px 10px 10px;
    opacity: 0.94;
    background-color: #3fa0aa;
    max-width: 1080px;
    width: 90%;
    color: white;
}

#gt-section-3 #venture-brazil #brazil-text h1 {
    font-weight: 300;
}

#gt-section-3 #venture-brazil #brazil-text p {
    font-size: 1.1em;
}

#gt-section-3 #venture-brazil #brazil-text h2 {
    font-weight: 700;
    font-size: 1.8em;
}

#gt-section-3 #venture-brazil #brazil-text #btn-brazil-venture {
    font-weight: 700;
    font-size: 1.2em;
    margin-top: 12px;
    margin-bottom: 11px;
    background-color: rgb(245, 236, 43);
    color: #344692;
    text-shadow: 0 0.070em 0.070em rgba(0, 0, 0, 0.3);
    border-radius: 100em;
}

#gt-section-3 #venture-brazil #brazil-text #btn-brazil-venture:hover {
    color: white;
    text-shadow: 0 0.070em 0.070em rgba(0, 0, 0, 0.68);
}

#gc-section-1 {
    height: 700px;
    width: 100%;
    padding: 40px;
}

#body-man {
    position: relative;
    /* left: 145px; */
}

.scene {
    position: relative;
    overflow: hidden;
    height: 60%;
    width: 100%;
    display: block;
}

.scene svg {
    position: relative;
}

#cloud1 {
    width: 25%;
    position: relative;
    bottom: -70%;
    left: -20%;
}

#cloud2 {
    width: 25%;
    position: relative;
    bottom: -20%;
    left: -30%;
}

#cloud3 {
    width: 40%;
    position: relative;
    bottom: -60%;
    left: 20%;
    z-index: 100;
}

#cloud4 {
    width: 30%;
    position: relative;
    bottom: 30%;
    left: 30%;
}

#cloud5 {
    width: 10%;
    position: relative;
    bottom: 30%;
    left: -30%;
}

#land {
    position: absolute;
    bottom: -20%;
    left: 10%;
    width: 80%;
}

.swipe {
    position: absolute;
    width: 30%;
    height: 10%;
    bottom: 20%;
    left: 35%;
    display: block;
    font-size: 44px;
    font-style: italic;
    font-weight: bold;
    color: white;
    line-height: 0.9;
}

#swipe-frame {
    position: absolute;
    width: 400px;
    height: 200px;
    bottom: -115%;
    left: -10%;
}

#earth {
    width: 50%;
    position: relative;
    left: 30%;
    bottom: -10%;
}

#man {
    width: 10%;
    height: 10%;
    position: absolute;
    left: 40%;
    bottom: 40%;
}

#rode {
    opacity: 0;
    width: 30%;
    height: 70%;
    position: absolute;
    left: 35%;
    bottom: 40%;
}

#talk {
    opacity: 0;
}


/* #lower-leg-man {
        position: relative;
        left: -34px;
        top: 149px;
        transform-origin: 43px 18px;
        transform: rotateZ(-18deg);
    }
    */

#upper-leg-man {
    position: relative;
    left: -111px;
    top: 202px;
    /*transform-origin: 8px 21px;*/
    height: 196px;
    transform: rotateZ(0deg);
    /* width: 5%; */
    width: 200px;
    /* display: inherit; */
}

#arm-man {
    position: relative;
    left: -270px;
    bottom: 42px;
    transform-origin: 41px 3px;
    transform: rotateZ(0deg);
}

.circle {
    display: block;
    background: #037EF3;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin: 0;
    background: radial-gradient(circle at 28px 15px, #037EF3, #037ef3);
}

.white-circle {
    background: white;
    border-radius: 100%;
    height: 8px;
    width: 8px;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: -3px;
    z-index: 19;
}

.xx-size {
    width: 9%!important;
}

#w-c-0 {
    left: 3%;
}

#w-c-1 {
    left: 11%;
}

#w-c-2 {
    left: 19%;
}

#w-c-3 {
    left: 26%;
}

#w-c-4 {
    left: 34%;
}

#w-c-5 {
    left: 42%;
}

#w-c-6 {
    left: 49%;
}

#w-c-7 {
    left: 56%;
}

#w-c-8 {
    left: 63%;
}

#w-c-9 {
    left: 71%;
}

#w-c-10 {
    left: 79%;
}

#w-c-11 {
    left: 87%;
}

#w-c-12 {
    left: 95.5%;
}

#gc-section-1-ball {
    position: relative;
    bottom: 40px;
    left: 92px;
}

#gc-section-1 #man-div {
    /* width: 100%; */
    position: relative;
    left: -74px;
    display: inline-block;
}

#squares-block {
    display: inline-block;
    position: relative;
    left: 37%;
}

#gc-section-1 h1.section-text {
    font-weight: 700;
    color: #444444;
    position: relative;
    bottom: 55px;
    font-size: 100%;
}

#gc-section-2 h1.section-text {
    font-weight: 700;
    color: #037EF3;
}

#section-1-rect {
    display: inline-block;
    position: relative;
    left: -3px;
    bottom: 297px;
    width: 73px;
    height: 250px;
}

#section-1-rect1 {
    display: inline-block;
    position: relative;
    left: -15px;
    bottom: 287px;
    width: 40px;
    height: 230px;
    visibility: hidden;
}

#section-1-rect2 {
    display: inline-block;
    position: relative;
    left: -17px;
    bottom: 277px;
    width: 40px;
    height: 210px;
    visibility: hidden;
}

#section-1-rect3 {
    display: inline-block;
    position: relative;
    left: -17px;
    bottom: 268px;
    width: 42px;
    height: 190px;
    visibility: hidden;
}

#section-1-rect4 {
    display: inline-block;
    position: relative;
    left: -16px;
    bottom: 258px;
    width: 40px;
    height: 170px;
    visibility: hidden;
}

#section-1-rect5 {
    transform-origin: bottom;
    visibility: hidden;
    display: inline-block;
    position: relative;
    left: -23px;
    bottom: 248px;
    width: 40px;
    height: 150px;
    /* height: 0px; */
}

#volunteer-img {
    top: -346px;
    left: 20px;
}

#empower-img {
    top: -366px;
    left: 27px;
}

#comfort-img {
    top: -391px;
    left: 35px;
}

#work-img {
    top: -405px;
    left: 25px;
}

#develop-img {
    top: -426px;
    left: 32px;
}

#cause-img {
    left: 60px;
    top: -386px;
    visibility: visible;
}

#gc-section-0 {
    /* margin: 0px 0px 0px 0px; */
    /* padding: 45px 45px 45px 45px; */
    background-image: url(../img/globalCitizen/page1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 43vw;
    min-height: 60vh;
}

#gc-section-7 {
    color: white;
    background-color: grey;
    height: 100%;
    width: 100%;
    padding: 20px 75px 20px 75px;
}

#gc-section-7 h1 {
    font-weight: 300;
    width: 100%;
}

#gc-section-7 h1 span {
    font-weight: 700;
}

.step {
    padding: 13px;
}

.step-img {
    width: 100px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 25%;
    transform: translateX(-50%);
}

.step-text {
    display: inline-block;
    position: relative;
    max-width: 45%;
    height: 78px;
    vertical-align: middle;
}

.step-text {}

.step-text p {}

.step-text h2 {
    display: inline-block;
    margin: 0;
    position: relative;
}

#gc-section-2 {
    margin: 0px 0px 0px 0px;
    padding: 45px 45px 0px 45px;
    min-height: 30vh;
}

#choose-cause-text {
    color: #037EF3;
}

.rotate {
    margin: 34px 1.25%;
    width: 100px;
    height: 100px;
    /* font-size: 72px; */
    line-height: 95px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #FFFFFF;
    border-radius: 100em;
    border: 3px dotted #444444;
}

.rotate img {
    width: 55%;
}

.rotate img#education {
    left: 4px;
    position: relative;
}

.rotate:hover {
    background-color: rgba(68, 68, 68, 0.77);
    text-decoration: none;
}

.rotate:hover .cause-text {
    color: #037EF3;
}

#short-kick-alert {
    display: none;
}

#gc-sections {
    visibility: hidden;
    height: 0px;
    overflow: hidden;
}

.cause-text {
    color: black;
    line-height: 34px;
    webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

#soc-ent {
    margin-top: 3px;
    line-height: 11px;
}

#gc-section-3 {
    background-image: url(../img/globalCitizen/page2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* height: auto; */
    min-height: 15vh;
    height: 15vh;
}

#gc-section-3 img {
    width: 168px;
    position: relative;
    left: 30vw;
}

#gc-section-4 #yellow-subsection {
    background-color: #E6CF31;
}

#gc-section-4 #pink-subsection {
    background-color: #E14B79;
}

#gc-section-4 #green-subsection {
    background-color: #75C049;
}

#gc-section-4 #navyblue-subsection {
    background-color: #074E90;
}

#gc-section-4 #brightblue-subsection {
    background-color: #00ADEF;
}

#gc-section-4 div {
    height: auto;
    padding: 11%;
    margin: 5px 0;
}

#gc-section-4 div h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 300;
    width: 74%;
    display: inline-block;
    left: 20vw;
    margin-right: 22px;
}

#gc-section-4 div img {
    width: 16%;
}

#comp-section-0 {
    height: 600px;
    background-image: url("../img/companies/Massage-train-1030x685.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
}

#comp-section-0 h1 {
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;
    color: white;
    margin-left: 9%;
    margin-top: 131px;
    /* z-index: 100; */
}

#comp-section-0 p {
    color: white;
    font-size: 21px;
    font-weight: 400;
    margin-left: 9%;
}

#gc-section-5 {
    padding: 40px;
}

#body-man1 {
    position: relative;
    /* left: 145px; */
}


/* #lower-leg-man {
        position: relative;
        left: -34px;
        top: 149px;
        transform-origin: 43px 18px;
        transform: rotateZ(-18deg);
    }
    */

#upper-leg-man1 {
    position: relative;
    left: -111px;
    top: 202px;
    transform-origin: 8px 21px;
    height: 196px;
    transform: rotateZ(-5deg);
    /* width: 5%; */
    width: 200px;
    /* display: inherit; */
}

#arm-man1 {
    position: relative;
    left: -270px;
    bottom: 42px;
    transform-origin: 41px 3px;
    transform: rotateZ(22deg);
}

.circle1 {
    display: block;
    background: #037EF3;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin: 0;
    background: radial-gradient(circle at 28px 15px, #037EF3, #000);
}

#gc-section-5-ball {
    position: relative;
    bottom: 59px;
    left: 243px;
}

#gc-section-5 #man-div1 {
    /* width: 100%; */
    position: relative;
    left: 139px;
    display: inline-block;
}

h1.section-text1 {
    font-weight: 700;
    color: #444444;
}

#section-5-rect {
    display: inline-block;
    position: relative;
    left: 70%;
    bottom: 407px;
    width: 47px;
    height: 389px;
    margin-right: 60px;
}

#section-5-rect1 {
    display: inline-block;
    position: relative;
    left: 70%;
    bottom: 407px;
    width: 47px;
    height: 389px;
    margin-right: 27px;
}

#section-5-rect2 {
    display: inline-block;
    position: relative;
    left: 70%;
    bottom: 407px;
    width: 47px;
    height: 389px;
}

#gt-steps-text {
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

#gt-steps-gt {
    display: block;
    left: 38%;
    position: relative;
    width: 25%;
    margin-top: 49px;
}

#gt-section-4 {
    padding: 23px;
}

#gt-section-4 #textp {
    width: 70%;
    margin-top: 21px;
    display: inline-block;
    font-size: 18px;
}

#gt-section-5 {
    /* padding: 44px; */
}

#gt-section-5 img {
    width: 100%;
}

#gt-section-6 {
    padding: 44px;
}

#gt-section-6 img {
    width: 100%;
}

.center {
    text-align: center;
}

.white {
    color: white;
}

.btn-blue {
    font-size: 30px;
    line-height: 32px;
    min-width: 290px;
    padding: 25px 40px;
    background-color: #037ef3;
    border: none;
    color: white;
    text-decoration: none !important;
    display: inline-block;
    position: relative;
    margin: 3px 0;
    border-radius: 10px;
    color: white !important;
}

.btn-blue:hover {
    background-color: #005cd1;
}

#section-companies {
    min-height: 700px;
    padding-top: 100px;
}

#section-companies h1,
#section-alumni h1 {
    font-size: 48px !important;
    line-height: 52px !important;
    font-weight: 800;
}

#section-companies p,
#section-alumni p {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    margin-bottom: 55px;
}

#section-companies .btn-blue:hover {
    opacity: 0.7;
}

.section-two-col-text {
    min-height: 460px;
    padding: 30px 0;
}

.section-two-col-text h1,
#section-about-why h1 {
    color: rgb(82, 86, 94);
    font-size: 36px !important;
    line-height: 42px !important;
    font-weight: 400 !important;
    margin-bottom: 45px;
}

.section-two-col-text p,
#section-about-why p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    color: rgb(82, 86, 94);
}

.section-stats {
    background-color: #037EF3;
    min-height: 190px;
    padding: 50px 0;
}

.section-stats .stat {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

.section-stats .stat-name {
    font-size: 16px;
    font-weight: 100;
}

#section-alumni {
    min-height: 580px;
}

#section-alumni h1 {
    margin-bottom: 50px;
    margin-top: 100px;
}

#section-alumni p {
    font-size: 36px;
}

.icon {
    width: 45px;
    vertical-align: bottom;
}

.col-25 {
    width: 20%;
}

.copyright-notice {
    text-align: center;
    font-weight: 300;
    color: #333333;
    margin: 30px 0 0;
    font-size: 14px;
}

.copyrights {
    text-align: center;
    font-weight: 400;
    color: #333333;
    margin: 30px 0 0;
    font-size: 13px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#kickingman {
    width: 45%;
}

#gc-section-1 #upper-anim {
    width: 100%;
    /* margin-bottom: -36px; */
}

#gc-section-1 #upper-anim #enables-img {
    width: 169px;
    left: 13%;
    position: relative;
    visibility: hidden;
}

.gc-anim-text {
    display: none;
    font-size: 25px;
    position: relative;
    top: 81px;
    left: -189px;
    /* right: 25%; */
    font-weight: 300;
}

.gc-anim-img {
    width: 42px;
    position: relative;
    left: 0px;
    top: -449px;
    display: inline-block;
    visibility: hidden;
}

#gc-section-1 #upper-anim #enables {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    position: relative;
    left: 16%;
    top: 31px;
    display: inline-block;
    font-size: 46px;
    color: #444444;
    visibility: hidden;
}

#animation-gc {
    width: 100%;
    position: relative;
    top: 228px;
}

#section-text-helper {
    bottom: 66px;
    position: relative;
    font-weight: 300;
}

#short-kick-alert {
    bottom: 57px;
    position: relative;
    font-weight: 300;
}

#graph {
    width: 100%;
}

object#kickingman {}


/*********************ABOUT****************************/


/*********************ABOUT & INTERN ABROAD****************************/

#section-about-quote {
    background-image: url("../img/about/Team-Ballons.jpg");
}

#section-about-quote,
#section-intern-quote,
#section-volunteer-quote {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#section-about-quote .quote,
#section-intern-quote .quote,
#section-volunteer-quote .quote {
    font-family: 'Lobster Two', cursive;
    color: #ffffff;
    font-size: 72px;
    line-height: 1.2em;
    padding-top: 200px;
}

#section-about-video iframe.video {
    width: 100%;
    min-height: 380px;
    height: auto;
    padding: 50px;
    height: 100%;
}

#section-about-video .video-wrapper {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 57%;
    right: 0;
    left: 0;
    top: 0;
}

#section-about-video .video-wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#section-about-video .video-row {
    margin: 80px 0;
}

#section-about-vision {
    margin-bottom: 80px;
}

#section-about-vision p.thick {
    color: #52565e;
    text-align: center;
    font-size: 36px!important;
    font-weight: 300 !important;
    line-height: 42px!important;
    margin: 0.85em 0;
    font-family: 'Lato', sans-serif;
    /* font-weight: 300 !important; */
}

#section-about-vision .quote {
    margin-bottom: 85px;
}

#section-about-why {
    margin-top: 100px;
}

#section-about-why img {
    max-width: 100%;
}

.tabs .active {
    background: #037ef3 !important;
    color: white !important;
    font-size: 17px;
    width: 100% !important;
    cursor: pointer;
}

#about-tab-content {
    border: 1px solid;
    display: block;
    visibility: visible;
    z-index: 3;
    position: relative;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    left: 0;
    /* width: auto; */
    border: 2px solid #037ef3;
    padding: 26px 30px;
    background-color: #ffffff;
    color: #52565e;
    min-height: 231px;
    /* min-width: 100%; */
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    left: -16px;
    top: 1px;
}

.tabs .tab {
    cursor: pointer;
    margin: 0 -1px 0 0;
    display: block;
    float: left;
    z-index: 2;
    position: relative;
    padding: 12px 16px;
    top: 1px;
    font-size: 17px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* border-style: solid; */
    border-width: 1px;
}

#section-intern-quote {
    background-image: url("../img/internAbroad/Africna-Talent.jpg");
    background-size: cover;
}

#section-volunteer-quote {
    background-image: url("../img/volunteerAbroad/Asian-group.jpg");
    background-size: cover;
}

#section-intern-quote .subquote,
#section-volunteer-quote .subquote {
    margin-top: 20px;
    line-height: 40px;
    margin: 0.85em auto;
    font-size: 36px;
    /* line-height: 42px; */
    color: white;
    font-weight: 300;
}

#section-volunteer-opp {
    height: 30%;
}

#section-intern-opp {
    background-color: #F3F4F7;
    /* display: inline; */
    width: 100%;
    padding-bottom: 100px;
    padding-top: 50px;
}

#section-intern-opp h3 {
    font-size: 20px;
}

#section-intern-opp h2,
#section-volunteer-opp h2 {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
}

#section-intern-opp p {
    margin: 0.85em 0;
}

#section-intern-opp .opps,
#section-volunteer-opp .opps {
    margin-top: 100px;
    padding: 0 0 0 50px;
}

#section-intern-opp .opps li,
#section-volunteer-opp .opps li {
    color: rgb(82, 86, 94);
    font-size: 13px;
}

#section-intern-opp .opps .signup {
    color: #ffffff;
    /* width: 105%; */
    padding: 20px;
    font-size: 1.5em;
    /* margin: 0; */
    /* border: none; */
    /* position: relative; */
    /* display: block; */
    border-radius: 0 !important;
    padding: 21px 20px !important;
    font-size: 24px !important;
    background-color: #037ef3;
}

#section-intern-opp .opps .signup a,
#section-volunteer-opp .signup a {
    color: white;
    text-decoration: none;
}

#section-intern-opp .opps .signup a:hover,
#section-volunteer-opp .signup a:hover {
    text-decoration: none;
    color: white;
}

#section-intern-opp .opps img {
    max-width: 100%;
}

.application-steps {
    background-color: #52565E;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.application-steps h3 {
    color: white;
}

.application-steps .reason1 {
    background-color: #f85a40;
}

.application-steps .reason2 {
    background-color: #0A8EA0;
}

.application-steps .reason3 {
    background-color: #30C39E;
}

.application-steps .reason4 {
    background-color: #F48924;
}

.application-steps .reason {
    font-size: 79px;
    padding: 20px 0 !important;
    text-align: center;
    color: white;
}

.application-steps .reason-wrapper {
    margin-top: 40px;
}

.application-steps .reason-wrapper .reason-desc {
    font-size: 18px;
    line-height: 23px;
    font-weight: 300;
    color: white;
    margin-top: 35px;
}

@media(min-width: 768px) {
    .application-steps .reason-wrapper .reason-text-wrapper {
        margin-left: 40px;
    }
}

.application-steps .signup,
#section-volunteer-opp .signup {
    padding: 25px 50px;
    width: auto;
    font-size: 27px;
    border-radius: 10px;
    background-color: #037ef3;
    margin-top: 130px;
    margin-bottom: 80px;
}

.application-steps .signup a,
.application-steps .signup a:hover {
    text-decoration: none;
    color: white;
    /* background-color: #037ef3; */
    /* padding: 25px 50px; */
    /* width: auto; */
    /* font-size: 27px; */
}

.text-blue {
    color: #037ef3;
}

.fw500 {
    font-weight: 500 !important;
}

#section-volunteer-adventure {
    padding-left: 0;
    padding-right: 0;
    height: 40%;
}

#section-volunteer-adventure .adventure-point {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    margin-top: 10px;
}

.global-citizin-desc h2 {
    font-size: 30px !important;
    line-height: 34px !important;
    min-height: 80px;
    letter-spacing: 0;
    font-weight: 300 !important;
}

#section-volunteer-img {
    background-attachment: scroll;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

#section-volunteer-motivation {
    margin-top: 80px;
    margin-bottom: 80px;
}

.steps-header {
    color: white;
    font-weight: 400 !important;
}

#section-volunteer-steps .signup {
    background-color: #ffffff;
    border-color: #ffffff;
}

#section-volunteer-steps .signup a {
    color: #0a8ea0 !important;
}

#mobile-view-content {
    display: none;
}


/*********************END OF ABOUT & INTERN ABROAD*********************/


/*********************MISC *******************************************/

.row footer-menu {
    display: none;
}

@media(max-width: 500px) {
    body {
        height: 100%!important;
    }
    .row footer-menu {
        display: none;
    }
    #timeline-ctrl {
        /* top: 50%!important; */
        position: relative;
        height: 90px;
        top: 0px;
    }
    .timeline-btn,
    .xx-size,
    #timeline-exp-btn {
        width: 7.7%!important;
        transform: rotateZ(90);
        height: 100%;
    }
    .scene .contact,
    .scene .companies,
    .scene .students {
        display: none!important;
    }
    .timeline-btn span {
        transform: rotateZ(90deg);
        display: block;
        position: relative;
        top: -20px;
    }
    #mobile-scene-contact {
        background-color: #037EF3;
        overflow: hidden;
        height: 504px;
    }
    #mobile-scene-contact h1 {
        position: relative;
        top: 23px;
    }
    #mobile-scene-contact form {
        position: relative;
        top: 37px;
        width: 157%;
        left: 29px;
    }
    .form-left,
    .form-right {
        margin: 0;
    }
    .footer-class .footer-menu li a {
        font-size: 100%;
    }
    #mobile-view-content {
        display: block;
    }
}

#timeline .timepoint.ismap:after {
    height: calc(100% + 370px);
}

#timeline .timepoint.ismap.last:after {
    height: 105%;
}

h2.orange-heading {
    color: #f85a40;
    text-transform: none;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}

h2.green-heading {
    color: #0a8ea0;
    text-transform: none;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}

h2.lightgreen-heading {
    color: #31c39e;
    text-transform: none;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}

h2.yellow-heading {
    color: #ffc845;
    text-transform: none;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}

h2.blue-heading {
    color: #037ef3;
    text-transform: none;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}

h2.blue-heading {
    color: #037ef3;
    text-transform: none;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
}

h3.blue-heading {
    color: #037ef3;
    text-transform: none;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

h2.white-heading {
    color: #fff;
    text-transform: none;
    font-size: 60px;
    line-height: 66px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 60px;
}

h2.thin-heading {
    color: #52565e;
    text-transform: none;
    font-size: 48px;
    line-height: 55px;
    font-weight: 300;
    letter-spacing: -2px;
    margin-bottom: 60px;
}

h4.social-link {
    color: #FFF;
    text-transform: none;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}

body .normal36 {
    font-size: 36px !important;
    line-height: 42px !important;
    font-weight: 400 !important;
    margin-top: 0;
    color: #fff;
}

body .normal60 {
    font-size: 60px;
    line-height: 66px;
    font-weight: 400;
}

body .bold24 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 6000;
}

body .thin36 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
}

body .thin48 {
    font-size: 48px !important;
    line-height: 52px !important;
    font-weight: 300;
    margin: 0;
}

body .bold48 {
    font-size: 48px !important;
    line-height: 52px !important;
    font-weight: 800;
    margin: 0;
}

body .thin30 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
}

body .thin24 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
}

body .thin18 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}

body .thin18lh28 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

body .thin36 strong,
body .thin30 strong,
body .thin24 strong,
body .thin18 strong,
body .thin18lh28 strong {
    color: #037ef3;
    font-weight: 400;
}

body a.border-button,
body a.border-button-orange,
body a.border-button-green {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 20px;
    display: block;
    border-radius: 13px;
    font-weight: 300;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

body a.border-button-orange {
    border: 2px solid #f85a40;
    color: #f85a40;
}

body a.border-button-green {
    border: 2px solid #0a8ea0;
    color: #0a8ea0;
}

body a.border-button strong,
body a.border-button-orange strong,
body a.border-button-green strong {
    font-size: 30px;
    line-height: 31px;
    display: block;
    color: #fff;
    font-weight: 300;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

body a.border-button-orange strong {
    color: #f85a40;
}

body a.border-button-green strong {
    color: #0a8ea0;
}

body a.border-button:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
}

body a.border-button:hover strong {
    color: #000;
    text-decoration: none;
}

body a.border-button-green:hover {
    background: #0a8ea0;
    color: #fff;
    text-decoration: none;
}

body a.border-button-green:hover strong {
    color: #fff;
    text-decoration: none;
}

body a.border-button-orange:hover {
    background: #f85a40;
    color: #fff;
    text-decoration: none;
}

body a.border-button-orange:hover strong {
    color: #fff;
    text-decoration: none;
}

body a.play-video {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    padding: 20px 35px;
    display: inline-block;
    border-radius: 50px;
    font-weight: 300;
    margin: 0 auto;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

body a.play-video.showPay {
    opacity: 1;
    pointer-events: auto;
}

body a.play-video:hover {
    background: #fff;
    color: #000;
    text-decoration: none;
}


/* Tablet */

@media screen and (max-width: 1060px) {
    h2.orange-heading {
        color: #f85a40;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.green-heading {
        color: #0a8ea0;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.lightgreen-heading {
        color: #31c39e;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.yellow-heading {
        color: #ffc845;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.blue-heading {
        color: #037ef3;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.blue-heading {
        color: #037ef3;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h3.blue-heading {
        color: #037ef3;
        text-transform: none;
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;
    }
    h2.white-heading {
        color: #fff;
        text-transform: none;
        font-size: 34px;
        line-height: 36px;
        font-weight: bold;
        letter-spacing: 0px;
        margin-bottom: 40px;
    }
    h2.thin-heading {
        color: #52565e;
        text-transform: none;
        font-size: 28px;
        line-height: 35px;
        font-weight: 300;
        letter-spacing: 0px;
        margin-bottom: 40px;
    }
    h4.social-link {
        color: #FFF;
        text-transform: none;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }
    body .normal36 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: #fff;
    }
    body .thin24 {
        font-size: 19px;
        line-height: 24px;
        font-weight: 300;
    }
    body .thin36 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
    }
    body .thin48 {
        font-size: 28px !important;
        line-height: 32px !important;
        font-weight: 300;
        margin: 0;
    }
    body .thin30 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 300;
    }
    body .thin18 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
        margin: 5px 0;
    }
    body .bold48 {
        font-size: 40px !important;
        line-height: 47px !important;
        font-weight: 800;
        margin: 0;
    }
}


/*
         * MOBILE
         */

@media screen and (max-width: 760px) {
    h2.orange-heading {
        color: #f85a40;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.green-heading {
        color: #0a8ea0;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.lightgreen-heading {
        color: #31c39e;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.yellow-heading {
        color: #ffc845;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.blue-heading {
        color: #037ef3;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h2.blue-heading {
        color: #037ef3;
        text-transform: none;
        font-size: 26px;
        line-height: 30px;
        font-weight: 400;
    }
    h3.blue-heading {
        color: #037ef3;
        text-transform: none;
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
    }
    h2.white-heading {
        color: #fff;
        text-transform: none;
        font-size: 34px;
        line-height: 36px;
        font-weight: bold;
        letter-spacing: 0px;
        margin-bottom: 40px;
    }
    h2.thin-heading {
        color: #52565e;
        text-transform: none;
        font-size: 28px;
        line-height: 35px;
        font-weight: 300;
        letter-spacing: 0px;
        margin-bottom: 40px;
    }
    h4.social-link {
        color: #FFF;
        text-transform: none;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
    }
    body .normal36 {
        font-size: 20px !important;
        line-height: 30px !important;
        font-weight: 400;
        color: #fff;
    }
    body .thin36 {
        font-size: 20px !important;
        line-height: 30px !important;
        font-weight: 300;
    }
    body .thin48 {
        font-size: 28px !important;
        line-height: 32px !important;
        font-weight: 300;
        margin: 0;
    }
    body .thin30 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 300;
    }
    body .thin18 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 300;
        margin: 5px 0;
    }
    body .bold48 {
        font-size: 28px !important;
        line-height: 35px !important;
        font-weight: 800;
        margin: 0;
    }
    body .normal60 {
        font-size: 45px;
        line-height: 50px;
        font-weight: 400;
    }
    .mainHeader .avia_textblock .normal60 {
        font-size: 45px;
        font-weight: 400;
        line-height: 50px !important;
    }
}

.mt50 {
    margin-top: 50px;
}


/*********************END OF MISC *******************************************/


/********************* Media Queries ********************/

@media (min-width: 768px) {
    .aiesec-navbar-header {
        width: 200px;
        margin-right: 18px!important;
        margin-left: 5%!important;
    }
    #nav-img {
        width: 100%;
        /* height: auto; */
        /* margin-top: 27px; */
        /* margin-left: 4%; */
    }
    .nav-links li a {
        /* font-size: 1.3em;
        font-weight: bold;
        display: inline;
        color: #ffffff;*/
        padding: 19px 1vw;
        font-size: 1.4vw;
        font-weight: 400;
    }
}

.companies {
    color: white;
}

.grey-text {
    color: #52565E;
}

#comp-section-1 {
    position: relative;
    padding-left: 82px;
    padding-bottom: 82px;
    margin-top: 40px;
}

.info-list {
    list-style: none;
}

.info-list-container {}

.info-list-item {
    margin: 0;
    padding: 0 0 1% 0;
    list-style-type: none;
    list-style-position: outside;
    clear: both;
    position: relative;
    min-height: 60px;
}

.info-list-icon {
    height: 64px;
    width: 64px;
    line-height: 64px;
    font-size: 30px;
    text-align: center;
    border-radius: 500px;
    position: relative;
    float: left;
    margin-right: 30px;
    margin-left: 2px;
    z-index: 5;
    background-color: #037EF3;
    color: #fff;
}

.info-list-body {
    overflow: hidden;
    min-height: 1.5em;
    padding-bottom: 4px
}

.info-list-title {
    font-weight: 600;
    line-height: 1.5em;
}

.info-list-content {
    color: #52565e;
}

.info-list-side {
    position: absolute;
    right: -5%;
    top: -5%;
    min-height: 400px;
    background-repeat: no-repeat;
    background-image: url("../img/companies/Untitled-1-1030x552.png");
    background-position: top right;
}

.package-text {
    line-height: 1.2em;
    color: #52565e;
    text-align: center;
}

.package-text h2 {
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 800;
}

.package-btn {
    padding: 20px 30px;
    font-size: 18px;
    width: 80%;
    border: none;
    display: inline-block;
    position: relative;
    margin: 3px 0;
    border-radius: 10px;
    color: white !important;
}

.package-btn-red {
    background-color: #F85A40;
}

.package-btn-blue {
    background-color: #037FF3;
}

#comp-section-2 {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    color: white;
    padding-top: 5%;
}

.testimonial-text {
    padding: 5%;
}

.testimonial-text-content {
    padding-top: 5%;
}

.testimonial-text h1 {
    font-size: 42px;
    line-height: 46px;
    font-weight: 800;
}

.testimonial-text h4 {
    line-height: 1.5em;
    font-style: italic;
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.talent-pipline {
    padding: 5%;
}

.section-title-300 {
    font-size: 48px;
    line-height: 54px;
    font-weight: 300;
}

.section-sub-title-600 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

h4.section-sub-title-300 {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px
}

h5.section-sub-title-300 {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px
}

h3.section-sub-title-300 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
}

.talent-image-container {
    margin-top: 3%;
}

.talent-image {
    border-radius: 3px;
    display: block;
    position: relative;
    max-width: 100%;
}

#comp-section-4 {
    padding: 5% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../img/companies/conference-1030x567.jpg");
}

#comp-section-4 h2 {
    font-size: 48px;
    line-height: 54px;
    font-weight: 800;
}

#comp-section-4 h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
}

#comp-section-4 h4 {
    font-size: 15px;
    line-height: 21px;
    font-weight: 300;
}

.counter-header {
    font-size: 26pt;
    font-weight: 800;
}

.counters-text-container {
    padding: 0 5%;
    margin: 2% auto 1% auto;
}

.counters-btn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    border: none;
    display: inline-block;
    position: relative;
    margin: 3px 0;
    border-radius: 6px;
    color: white !important;
}

.counters-btn-container {
    padding-left: 0;
}

#comp-section-5 {
    padding: 1% 5%;
    background-color: #037EF3;
}

#comp-section-5 .counter-header {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
}

#comp-section-5 .counter-content {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 2px;
}

#comp-section-6 {
    padding: 5% 0;
}

.image-slider-container,
.video-container {
    padding: 2.5% 5%;
}

.image-full-width {
    width: 100%;
    height: auto;
}

.companies.container {
    padding: inherit 5%;
}

#comp-section-7 {
    padding: 5% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../img/companies/video-preview.jpg");
}

#comp-section-7 h2 {
    font-size: 48px;
    font-weight: 300;
    line-height: 54px
}

#comp-section-7 h3 {
    font-size: 30px;
    line-height: 36px
}

.process-container {
    padding: 5%;
}

.process-icon {
    font-size: 36px;
    line-height: 35px;
    font-weight: 300;
    padding: 5% 0;
    text-align: center;
    width: 20%
}

.process-description {
    width: 80%;
}

.process-blue {
    background-color: #037FF3;
}

.process-teal {
    background-color: #30C39E;
}

.process-dark-teal {
    background-color: #0A8EA0;
}

.process-yellow {
    background-color: #FFC845;
}

.process-orange {
    background-color: #F48924;
}

.process-red {
    background-color: #F85A40;
}

.text-red {
    color: #F85A40;
}

.text-blue {
    color: #037FF3;
}

.text-teal {
    color: #30C39E;
}

.process-title {
    margin-top: 0;
}

.process-content {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
}

.process-wrapper {
    min-height: 200px;
}

.partners-container {
    padding: 5%;
}

.partners-title {
    padding: 2.5% 0;
}

#ngos .container {
    padding: 5%;
}

#ngo-section-1 {
    height: 90vh;
    background-image: url("../img/ngos/Voulenteering picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#ngo-section-1 > .container {
    padding: 8% 10%;
}

#ngo-section-2 {
    background-color: #F3F4F7;
}

.ngo-support-container {
    padding-top: 5%;
}

.ngo-support-article {
    padding: 0 5%;
}

.ngo-destinations-list {
    list-style: none;
    margin-top: 3%;
}

.ngo-destinations-list-item {
    counter-increment: item;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin: 0.85em 0;
}

.ngo-destinations-list-item:before {
    margin-right: 10px;
    content: counter(item) ".";
    width: 1.2em;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px
}

#ngo-section-4 {
    background-color: #037FF3;
    color: white;
}

#ngo-section-4 .container {
    padding: 2% 5%;
}

#ngo-section-4 .counter-content {
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    letter-spacing: 2px;
}

.coloured-square {
    font-size: 60px;
    line-height: 54px;
    font-weight: 300;
    color: white;
    padding: 25% 0;
    margin-bottom: 20%;
    width: 100%;
}

.space-bottom {
    margin-bottom: 20%;
}

.reasons-container {
    margin-top: 5%;
}

.reasons-wrapper {
    margin: 0 1.5%;
}

#timeline-ctrl {
    position: fixed;
    top: 94.5%;
    width: 100%; 
    /* position: relative; // */
    /* top: -38px; */
}

.timeline-btn {
    /* position: relative; */
    /* top: 10vw; */
    width: 7%;
    font-size: 83%;
    padding: 10px 1px;
    display: inline-block;
    margin: 0px;
    border-radius: 0px;
    border-width: 1px;
    border-color: white;
    box-sizing: border-box;
    margin-right: -3px;
    color: white;
    background-color: #39333C;
}

.timeline-btn:hover {
    color: white;
    background-color: black;
}

.timeline-btn:focus {
    color: white;
    background-color: black;
    outline: none;
}

#timeline-exp-btn {
    margin-right: 0px;
    border-right-color: #39333C;
    width: 8%;
}

#timeline-start-btn {
    border-left: 0px;
}

.svgsize {
    width: 70%;
}

.title-volunteer {
    z-index: 100;
    font-family: lato;
    font-weight: bold;
    font-size: 82px;
    margin-bottom: 0;
}

.small-volunteer {
    z-index: 100;
    font-family: lato;
    font-size: 30px;
    color: #777;
}

.small-title-volunteer {
    font-size: 50px;
}

#section-volunteer-video {
    padding: 0;
    height: 30%;
}

.hide-on-play {
    position: relative;
    top: 500px;
}

.items {
    height: 90%;
}

.info {
    height: 100%;
    position: relative;
    top: 40px;
}

.items-title {
    font-family: lato;
    font-weight: bold;
    font-size: 22px;
    color: #111;
}

.items-div {
    height: 26%;
    width: auto;
}

.items-div svg,
.items-div-intern svg {
    width: 100%;
}

.items-div-intern {
    height: 28%;
    width: auto;
}

.svgs {
    position: relative;
    top: 20px;
}

.top {
    position: relative;
    top: -110px;
}

form {
    height: 100%;
}

input,
select {
    border: none;
    padding: 0;
    height: 100%;
    width: 100%;
}

input:active,
input:focus {
    outline: none;
}

.form-element {
    border: 2px solid #999;
    border-radius: 3px;
    height: 30px;
    padding: 0;
    background-color: #f2f2f2;
    margin: 10px;
    height: 2em;
}

.form-element span {
    padding: 0;
    color: #999;
}

.no-pad {
    padding: 0;
}

.selectors {
    height: 50px;
}

.padtop {
    padding-top: 40px;
}

#signup,
#search,
#confirm,
#go,
#interview {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#signup:hover,
#search:hover,
#confirm:hover,
#go:hover,
#interview:hover {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

@media screen and (max-width: 480px) {
    #section-volunteer-opp {
        margin: 3px;
    }
    .for {
        margin-top: 80px;
    }    
}
